.map-wrap {
  width: 100%;
  height: calc(100vh - 77px);
  position: absolute;
  margin-top: 3%;
  margin-left: 50%;
}
.map {
  width: 50%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 20px 50px 60px;
  border: solid black;
}
.map:hover {
  color: yellow;
  transition: 3s ease-in-out;
}
